:root {
  --title-text-color: #212121;
  --nav-menu-text-color: #212121;
  --accent-color: #2196f3;
  --primary-text-color: #757575;
  --second-text-color: #ffffff;
  --third-text-color: #2196f3;
  --fourth-text-color: #000000;
  --button-bg-color: #2196f3;
  --main-bg-color: #ffffff;
  --hero-bg-color: #2f303a;
  --team-bg-color: #f5f4fa;
  --footer-bg-color: #2f303a;

  --porfolio-btn-color: #f5f4fa;
}

body {
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
  background-color: var(--main-bg-color);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.logo {
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--third-text-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
}

/* -------HEADER------- */

.header-logo-second-word {
  color: var(--fourth-text-color);
}

.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--nav-menu-text-color);
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}

.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}

/* -------HERO------- */

.hero {
  background-color: var(--hero-bg-color);
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--second-text-color);
}

.hero-button {
  font-weight: 700;
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  color: var(--second-text-color);
  background-color: var(--button-bg-color);
}

/* -------FEATURE------- */

.feature-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--title-text-color);
}

.feature-text {
  font-size: 14px;
  line-height: 1.71;
}

/* -------TEAM------- */

.team {
  background-color: var(--team-bg-color);
}

.team-item-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--title-text-color);
}

.team-item-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

/* -------FOOTER------- */

.footer {
  background-color: var(--footer-bg-color);
}

.footer-logo-second-word {
  color: var(--second-text-color);
}

.footer-address-link {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}

.footer-address-map {
  color: var(--second-text-color);
}

.footer-address-link:hover,
.footer-address-focust:hover {
  color: var(--accent-color);
}

/* -------PORTFOLIO------- */

.project-filter-btn {
  cursor: pointer;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--nav-menu-text-color);
  background-color: var(--porfolio-btn-color);
}

.project-filter-btn:hover,
.project-filter-btn:focus {
  background-color: var(--accent-color);
  color: var(--second-text-color);
}

.project-list-link {
  color: inherit;
}

.project-list-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}

.project-list-text {
  font-size: 16px;
  line-height: 1.87;
}
